<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beixiao.restaurant.repository.RestaurantDao" >
  <resultMap id="BaseResultMap" type="com.beixiao.restaurant.domain.Restaurant" >
    <id column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="least_consume" property="leastConsume" jdbcType="DECIMAL" />
    <result column="delivery_distance" property="deliveryDistance" jdbcType="VARCHAR" />
    <result column="begin_bussiness_time" property="beginBussinessTime" jdbcType="VARCHAR" />
    <result column="end_bussiness_time" property="endBussinessTime" jdbcType="TIMESTAMP" />
    <result column="bussiness_state" property="bussinessState" jdbcType="TINYINT" />
    <result column="announcement" property="announcement" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lst_mod_time" property="lstModTime" jdbcType="TIMESTAMP" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="total_evaluate_score" property="totalEvaluateScore" jdbcType="INTEGER" />
    <result column="total_evaluate_person_num" property="totalEvaluatePersonNum" jdbcType="INTEGER" />
    <result column="satisfaction" property="satisfaction" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    restaurant_id, least_consume, delivery_distance, begin_bussiness_time, end_bussiness_time, 
    bussiness_state, announcement, create_time, lst_mod_time, shop_id,total_evaluate_score,total_evaluate_person_num,satisfaction
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from restaurant
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from restaurant
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beixiao.restaurant.domain.Restaurant" useGeneratedKeys="true" keyProperty="restaurantId">
    insert into restaurant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
      <if test="leastConsume != null" >
        least_consume,
      </if>
      <if test="deliveryDistance != null" >
        delivery_distance,
      </if>
      <if test="beginBussinessTime != null" >
        begin_bussiness_time,
      </if>
      <if test="endBussinessTime != null" >
        end_bussiness_time,
      </if>
      <if test="bussinessState != null" >
        bussiness_state,
      </if>
      <if test="announcement != null" >
        announcement,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lstModTime != null" >
        lst_mod_time,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="totalEvaluateScore != null" >
        total_evaluate_score,
      </if>
      <if test="totalEvaluatePersonNum != null" >
        total_evaluate_person_num,
      </if>
      <if test="satisfaction != null" >
        satisfaction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=INTEGER},
      </if>
      <if test="leastConsume != null" >
        #{leastConsume,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDistance != null" >
        #{deliveryDistance,jdbcType=VARCHAR},
      </if>
      <if test="beginBussinessTime != null" >
        #{beginBussinessTime,jdbcType=VARCHAR},
      </if>
      <if test="endBussinessTime != null" >
        #{endBussinessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bussinessState != null" >
        #{bussinessState,jdbcType=TINYINT},
      </if>
      <if test="announcement != null" >
        #{announcement,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="totalEvaluateScore != null" >
        #{totalEvaluateScore,jdbcType=INTEGER},
      </if>
      <if test="totalEvaluatePersonNum != null" >
        #{totalEvaluatePersonNum,jdbcType=INTEGER},
      </if>
      <if test="satisfaction != null" >
        #{satisfaction,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.beixiao.restaurant.domain.Restaurant" >
    update restaurant
    <set >
      <if test="leastConsume != null" >
        least_consume = #{leastConsume,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDistance != null" >
        delivery_distance = #{deliveryDistance,jdbcType=VARCHAR},
      </if>
      <if test="beginBussinessTime != null" >
        begin_bussiness_time = #{beginBussinessTime,jdbcType=VARCHAR},
      </if>
      <if test="endBussinessTime != null" >
        end_bussiness_time = #{endBussinessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bussinessState != null" >
        bussiness_state = #{bussinessState,jdbcType=TINYINT},
      </if>
      <if test="announcement != null" >
        announcement = #{announcement,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        lst_mod_time = #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="totalEvaluateScore != null" >
        total_evaluate_score = #{totalEvaluateScore,jdbcType=INTEGER},
      </if>
      <if test="totalEvaluatePersonNum != null" >
        total_evaluate_person_num = #{totalEvaluatePersonNum,jdbcType=INTEGER},
      </if>
      <if test="satisfaction != null" >
        satisfaction = #{satisfaction,jdbcType=INTEGER},
      </if>
    </set>
    where restaurant_id = #{restaurantId,jdbcType=INTEGER}
  </update>
  
  <select id="findByShopId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from restaurant
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <update id="updateByShopId" parameterType="com.beixiao.restaurant.domain.Restaurant" >
    update restaurant
    <set>
      <if test="leastConsume != null" >
        least_consume = #{leastConsume,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDistance != null" >
        delivery_distance = #{deliveryDistance,jdbcType=VARCHAR},
      </if>
      <if test="beginBussinessTime != null" >
        begin_bussiness_time = #{beginBussinessTime,jdbcType=VARCHAR},
      </if>
      <if test="endBussinessTime != null" >
        end_bussiness_time = #{endBussinessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bussinessState != null" >
        bussiness_state = #{bussinessState,jdbcType=TINYINT},
      </if>
      <if test="announcement != null" >
        announcement = #{announcement,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        lst_mod_time = #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="totalEvaluateScore != null" >
        total_evaluate_score = #{totalEvaluateScore,jdbcType=INTEGER},
      </if>
      <if test="totalEvaluatePersonNum != null" >
        total_evaluate_person_num = #{totalEvaluatePersonNum,jdbcType=INTEGER},
      </if>
      <if test="satisfaction != null" >
        satisfaction = #{satisfaction,jdbcType=INTEGER},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>