<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-lazy-init="true">
       <!-- 组件扫描 -->
       <context:component-scan base-package="com.beixiao">
       		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
       </context:component-scan>
       <!-- 视图解析器 -->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       		<property name="prefix" value="/WEB-INF/view"/>
       		<property name="suffix" value=".jsp"/>
       </bean>
       <!-- 文件上传 -->
       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
       		<!-- 默认编码 -->
       		<property name="defaultEncoding" value="utf-8"></property>
       		<!-- 文件大小的最大值(B) -->
       		<property name="maxUploadSize" value="10485760000"></property>
       		<!-- 内存中的最大值 -->
       		<property name="maxInMemorySize" value="40960"></property>
       </bean>
       
       <!-- <mvc:interceptors>
       	<mvc:interceptor>
       		<mvc:mapping path="/**"/>
       		<bean class="main.java.interceptor.AllInterceptor"/>
       	</mvc:interceptor>
       </mvc:interceptors> -->
       
       <mvc:annotation-driven/>
       	
       <!-- 如果不配置这个，会把静态资源当做请求处理，然后return，但是controller中又没有以js开头的，所以就会404 -->
       <mvc:resources mapping="/js/**" location="/resources/js/"/>
       
       <!-- 容器默认的DefaultServletHandler处理 对于静态资源(js,jpg等)的访问 -->
       <mvc:default-servlet-handler/>
</beans>