<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beixiao.activity.repository.ActivityDao" >
  <resultMap id="BaseResultMap" type="com.beixiao.activity.domain.Activity" >
    <id column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_author_id" property="createAuthorId" jdbcType="INTEGER" />
    <result column="create_author_name" property="createAuthorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lst_mod_time" property="lstModTime" jdbcType="TIMESTAMP" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    activity_id, content, state, create_author_id, create_author_name, create_time, lst_mod_time, shop_id
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beixiao.activity.domain.Activity" useGeneratedKeys="true" keyProperty="activityId">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createAuthorId != null" >
        create_author_id,
      </if>
      <if test="createAuthorName != null" >
        create_author_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lstModTime != null" >
        lst_mod_time,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createAuthorId != null" >
        #{createAuthorId,jdbcType=INTEGER},
      </if>
      <if test="createAuthorName != null" >
        #{createAuthorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.beixiao.activity.domain.Activity" >
    update activity
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createAuthorId != null" >
        create_author_id = #{createAuthorId,jdbcType=INTEGER},
      </if>
      <if test="createAuthorName != null" >
        create_author_name = #{createAuthorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        lst_mod_time = #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
       shop_id =  #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <update id="deleteAll" parameterType="java.lang.Integer">
  	update activity set state = 2 where shop_id = #{value}
  </update>
  <update id="updateByShopId" parameterType="com.beixiao.activity.domain.Activity" >
    update activity
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createAuthorId != null" >
        create_author_id = #{createAuthorId,jdbcType=INTEGER},
      </if>
      <if test="createAuthorName != null" >
        create_author_name = #{createAuthorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        lst_mod_time = #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
       shop_id =  #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>