<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beixiao.shop.repository.ShopDao" >
  <resultMap id="BaseResultMap" type="com.beixiao.shop.domain.Shop" >
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="mini_app_id" property="miniAppId" jdbcType="INTEGER" />
    <result column="cutomer_name" property="cutomerName" jdbcType="VARCHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="client_card_id" property="clientCardId" jdbcType="INTEGER" />
    <result column="shop_province" property="shopProvince" jdbcType="VARCHAR" />
    <result column="shop_city" property="shopCity" jdbcType="VARCHAR" />
    <result column="shop_sub_city" property="shopSubCity" jdbcType="VARCHAR" />
    <result column="shop_address" property="shopAddress" jdbcType="VARCHAR" />
    <result column="shop_telphone" property="shopTelphone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lst_mod_time" property="lstModTime" jdbcType="TIMESTAMP" />
    <result column="shop_state" property="shopState" jdbcType="TINYINT" />
    <result column="total_deal_money" property="totalDealMoney" jdbcType="DECIMAL" />
    <result column="shop_type" property="shopType" jdbcType="TINYINT" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    shop_id, mini_app_id, cutomer_name, id_code, client_card_id, shop_province, shop_city, 
    shop_sub_city, shop_address, shop_telphone, create_time, lst_mod_time, shop_state, 
    total_deal_money,shop_type,product_id
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beixiao.shop.domain.Shop" >
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="miniAppId != null" >
        mini_app_id,
      </if>
      <if test="cutomerName != null" >
        cutomer_name,
      </if>
      <if test="idCode != null" >
        id_code,
      </if>
      <if test="clientCardId != null" >
        client_card_id,
      </if>
      <if test="shopProvince != null" >
        shop_province,
      </if>
      <if test="shopCity != null" >
        shop_city,
      </if>
      <if test="shopSubCity != null" >
        shop_sub_city,
      </if>
      <if test="shopAddress != null" >
        shop_address,
      </if>
      <if test="shopTelphone != null" >
        shop_telphone,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lstModTime != null" >
        lst_mod_time,
      </if>
      <if test="shopState != null" >
        shop_state,
      </if>
      <if test="totalDealMoney != null" >
        total_deal_money,
      </if>
      <if test="shopType != null" >
        shop_type,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="miniAppId != null" >
        #{miniAppId,jdbcType=INTEGER},
      </if>
      <if test="cutomerName != null" >
        #{cutomerName,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="clientCardId != null" >
        #{clientCardId,jdbcType=INTEGER},
      </if>
      <if test="shopProvince != null" >
        #{shopProvince,jdbcType=VARCHAR},
      </if>
      <if test="shopCity != null" >
        #{shopCity,jdbcType=VARCHAR},
      </if>
      <if test="shopSubCity != null" >
        #{shopSubCity,jdbcType=VARCHAR},
      </if>
      <if test="shopAddress != null" >
        #{shopAddress,jdbcType=VARCHAR},
      </if>
      <if test="shopTelphone != null" >
        #{shopTelphone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopState != null" >
        #{shopState,jdbcType=TINYINT},
      </if>
      <if test="totalDealMoney != null" >
        #{totalDealMoney,jdbcType=DECIMAL},
      </if>
      <if test="shopType != null" >
        #{shopType,jdbcType=TINYINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.beixiao.shop.domain.Shop" >
    update shop
    <set >
      <if test="miniAppId != null" >
        mini_app_id = #{miniAppId,jdbcType=INTEGER},
      </if>
      <if test="cutomerName != null" >
        cutomer_name = #{cutomerName,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="clientCardId != null" >
        client_card_id = #{clientCardId,jdbcType=INTEGER},
      </if>
      <if test="shopProvince != null" >
        shop_province = #{shopProvince,jdbcType=VARCHAR},
      </if>
      <if test="shopCity != null" >
        shop_city = #{shopCity,jdbcType=VARCHAR},
      </if>
      <if test="shopSubCity != null" >
        shop_sub_city = #{shopSubCity,jdbcType=VARCHAR},
      </if>
      <if test="shopAddress != null" >
        shop_address = #{shopAddress,jdbcType=VARCHAR},
      </if>
      <if test="shopTelphone != null" >
        shop_telphone = #{shopTelphone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModTime != null" >
        lst_mod_time = #{lstModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopState != null" >
        shop_state = #{shopState,jdbcType=TINYINT},
      </if>
      <if test="totalDealMoney != null" >
        total_deal_money = #{totalDealMoney,jdbcType=DECIMAL},
      </if>
      <if test="shopType != null" >
        shop_type = #{shopType,jdbcType=TINYINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <resultMap id="basicInfoResultMap" type="com.beixiao.shop.dto.BasicInfo" >
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="mini_app_id" property="miniAppId" jdbcType="INTEGER" />
    <result column="cutomer_name" property="cutomerName" jdbcType="VARCHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="client_card_id" property="clientCardId" jdbcType="INTEGER" />
    <result column="shop_province" property="shopProvince" jdbcType="VARCHAR" />
    <result column="shop_city" property="shopCity" jdbcType="VARCHAR" />
    <result column="shop_sub_city" property="shopSubCity" jdbcType="VARCHAR" />
    <result column="shop_address" property="shopAddress" jdbcType="VARCHAR" />
    <result column="shop_telphone" property="shopTelphone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lst_mod_time" property="lstModTime" jdbcType="TIMESTAMP" />
    <result column="shop_state" property="shopState" jdbcType="TINYINT" />
    <result column="total_deal_money" property="totalDealMoney" jdbcType="DECIMAL" />
    <result column="shop_type" property="shopType" jdbcType="TINYINT" />
    <association  property="restaurant" resultMap="restaurantResultMap"/>
    <association  property="activity" resultMap="activityResultMap"/>
  </resultMap>
  <resultMap type="com.beixiao.restaurant.domain.Restaurant" id="restaurantResultMap">
  	<id column="restaurant_id" property="restaurantId" jdbcType="INTEGER" />
    <result column="rest_least_consume" property="leastConsume" jdbcType="DECIMAL" />
    <result column="rest_delivery_distance" property="deliveryDistance" jdbcType="VARCHAR" />
    <result column="rest_begin_bussiness_time" property="beginBussinessTime" jdbcType="VARCHAR" />
    <result column="rest_end_bussiness_time" property="endBussinessTime" jdbcType="VARCHAR" />
    <result column="rest_bussiness_state" property="bussinessState" jdbcType="TINYINT" />
    <result column="rest_announcement" property="announcement" jdbcType="VARCHAR" />
    <result column="rest_create_time_str" property="createTimeStr" />
    <result column="rest_lst_mod_time_str" property="lstModTimeStr" />
    <result column="rest_shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="activityResultMap" type="com.beixiao.activity.domain.Activity" >
    <id column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="act_content" property="content" jdbcType="VARCHAR" />
    <result column="act_state" property="state" jdbcType="TINYINT" />
    <result column="act_create_author_id" property="createAuthorId" jdbcType="INTEGER" />
    <result column="act_create_author_name" property="createAuthorName" jdbcType="INTEGER" />
    <result column="act_create_time_str" property="createTimeStr" jdbcType="TIMESTAMP" />
    <result column="act_lst_mod_time_str" property="lstModTimeStr" jdbcType="TIMESTAMP" />
    <result column="act_shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
  <select id="findBasicInfoByAppId" parameterType="java.lang.Integer" resultMap="basicInfoResultMap">
  	SELECT
		s.*,
		r.restaurant_id,
		r.least_consume as rest_least_consume,
		r.delivery_distance as rest_delivery_distance,
		r.begin_bussiness_time as rest_begin_bussiness_time,
		r.end_bussiness_time as rest_end_bussiness_time,
		r.bussiness_state as rest_bussiness_state,
		r.announcement as rest_announcement,
		DATE_FORMAT(r.create_time,'%Y-%m-%d %H:%i:%S') as rest_create_time_str,
		DATE_FORMAT(r.lst_mod_time,'%Y-%m-%d %H:%i:%S') as rest_lst_mod_time_str,
		r.shop_id as rest_shop_id,
		a.activity_id,
		a.content as act_content,
		a.state as act_state,
		a.create_author_id as act_create_author_id,
		a.create_author_name as act_create_author_name,
		DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') as act_create_time_str,
		DATE_FORMAT(a.lst_mod_time,'%Y-%m-%d %H:%i:%S') as act_lst_mod_time_str,
		a.shop_id as act_shop_id
	FROM
		shop s
	LEFT JOIN restaurant r ON s.shop_id = r.shop_id
	LEFT JOIN activity a ON a.shop_id = s.shop_id
	WHERE 
		s.shop_type = 1 
	AND 
		s.mini_app_id = #{value}
  </select>
</mapper>